<h1>Freeshelf</h1>
<h1>An index of free, on-line programming books</h1>
<p></p>

<h2><%= link_to 'See the Book list', controller: 'books' %></h2>
<p></p>
<div class="nav"> 
	<h4><%= link_to "Log in", login_path %></h4>
	<h4><%= link_to "Sign up", new_user_path %></h4>
</div>
