/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: lightgrey;
  font-family: 'Arial Rounded MT Bold', sans-serif;
}

h1 {
	color: #333;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	color: #555;
	font-size: 25px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
/*	text-transform: uppercase;*/
}

h4 {
	font-size: 1.5em;
}

thead {
  text-align: center;
  text-transform: uppercase;
}

table {
	table-layout: fixed;
	width: 1240px;
}

.title {
	width: 20%;
}

.author {
	width: 10%;
}

.describe {
	width: 33%;
}

.link {
	width: 20%;
}

.user_edit {
	width: 15%;
}

td {
  height: 30px;
	overflow: hidden;
  text-overflow: ellipsis;
	white-space: nowrap;
}


a:active {
	text-decoration: none;
}

a:hover {
	background-color: lightgrey;
	color: #fff;
	text-decoration: none;
	text-shadow: 0.5px 0.5px darkgrey;
}

a:link {
	text-decoration: none;
}

a:visited {
	color: #666;
	text-decoration: none;
}
